<html>
  <head>
      <title>Application homepage - ${mode} MODE</title>
      <script src="/jquery.js"></script>
  </head>

  <body>
    #shadeMenu('class="top-menu"')
##    <ul id="main_menu">
##        <li><a href="users">User overview</a></li>
##        <li><a href="user/new">User new</a></li>
##        <li><a href="select2.html">User select</a></li>
##    </ul>

    $screen_content

    <div id="ajaxContentGoesHere" />

  </body>
</html>