<!--
  ~ Copyright (C) 2013 Pascal Mazars
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
      <property name="connection.url">jdbc:hsqldb:mem:mem:aname</property>
      <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
      <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
      <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
      <property name="connection.username">sa</property>
      <!--<property name="connection.password" />-->

      <property name="hibernate.hbm2ddl.auto">create</property>

      <mapping class="app.core.User" />
      <mapping class="app.core.Person" />
  </session-factory>
</hibernate-configuration>
